@model Site.Models.EditWorkItemViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/modern.css" />
    <link rel="stylesheet" type="text/css" href="~/css/modern-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery.signaturepad.css" />

    <style>
        .sigWrapper {
          clear: both;
          height: 75px; /* Change the height */
          border: 1px solid #ccc;
        }
    </style>

    <script type="text/javascript" src="/js/jquery-1.9.0.js"></script>
    <script type="text/javascript" src="~/js/jquery.signaturepad.min.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40200465-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="metrouicss">
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>@Model.Title</h1>
                <a href="@Url.Action("Index")" class="back-button big page-back"></a>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                @using(Html.BeginForm("Index", "Work")) {
                    
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.WorkOrderId)
                    @Html.HiddenFor(m => m.CrewId)

                    <label>Date:</label>
                    <div class="input-control text span2">
                        <span>@Model.Date</span>
                    </div>
                    
                    <label>Customer:</label>
                    <div class="input-control text span5">
                        <span>@Model.Customer</span>
                    </div>
                    
                    <label>Description:</label>
                    <div class="input-control textarea span7">
                        <span>@Model.Description</span>
                    </div>
                    
                    <label>Duration:</label>
                    <div class="input-control select span2">
                        <span>@Model.Duration</span>
                    </div>
                    
                    <label>Work Done:</label>
                    <div class="input-control textarea span7">
                        <textarea name="Notes" rows="5" autofocus>@Model.Notes</textarea>
                    </div>

                    <label class="input-control checkbox span7">
                        @Html.CheckBoxFor(m => m.IsComplete, new { @class = "complete" })
                        <span class="helper">Job Complete?</span>
                    </label>                
                    
                    <label class="signature no-display">Signature:</label>
                    <div class="input-control span7 signature no-display">
                        <div class="sig sigWrapper">
                            <canvas class="pad" height="50"></canvas>
                            <input type="hidden" name="signature" class="output">
                        </div>
                        <a class="clear" href="#">Clear</a>
                    </div>
                    
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "button" })
                    <input type="submit" value="Save" class="button" />
                }
            </div>
        </div>
    </div>    
    <script type="text/javascript">
        $(function () {
            var sigPad = $('form').signaturePad({ drawOnly: true, clear: 'a.clear' });

            $('input:checkbox.complete').click(function (e) {
                var method = e.currentTarget.checked ? 'removeClass' : 'addClass';
                $('.signature')[method]('no-display');
            });
        });
    </script>
</body>
</html>
