@model Site.Models.EditWorkOrderViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/modern.css" />
    <link rel="stylesheet" type="text/css" href="~/css/modern-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />

    <script src="/js/jquery-1.9.0.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/calendar.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40200465-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="metrouicss">
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>@Model.Title</h1>
                <a href="@Url.Action("Index")" class="back-button big page-back"></a>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                @using(Html.BeginForm("Save", "WorkOrders")) {
                    @Html.HiddenFor(m => m.Id)

                    <label>Customer:</label>
                    <div class="input-control text span5">
                        <input type="text" name="Customer" value="@Model.Customer" />
                    </div>

                    <label>Date:</label>
                    <div class="input-control text span5">
                        <input type="hidden" name="Date" value="@Model.Date" />
                        <div class="calendar" data-lang="en"></div>
                    </div>
                    
                    <label>Duration:</label>
                    <div class="input-control select span2">
                        @Html.DropDownListFor(wo => wo.Duration, Model.Durations.Select(d => new SelectListItem{ Text = d, Value = d }))
                    </div>
                    
                    <label>Crew:</label>
                    <div class="input-control select span5">
                        @Html.DropDownListFor(wo => wo.CrewId, new SelectList(Model.Crews, "Id", "Name"))
                    </div>
                    
                    <label>Description:</label>
                    <div class="input-control textarea span7">
                        <textarea name="Description" rows="5">@Model.Description</textarea>
                    </div>
                    
                    <label>Category:</label>
                    <div class="input-control select span2">
                        @Html.DropDownListFor(wo => wo.CategoryId, new SelectList(Model.Categories, "Id", "Name"))
                    </div>
                                        
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "button" })
                    <input type="submit" value="Save" class="button" />
                }
            </div>
        </div>
    </div>    
    <script>
        $(function () {
            var $calendar = $('div.calendar'),
                $hidden = $('input:hidden[name=Date]');
                
            $calendar.calendarSetDate($hidden.val());
            $calendar.init();
            $calendar.on('date-selected', function (el, dateString, dateMoment) {
                $hidden.val(dateString);
            });
        });
    </script>
</body>
</html>
