@model Site.Models.NewWorkOrderViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/modern.css" />
    <link rel="stylesheet" type="text/css" href="~/css/modern-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/css/app.css" />

    <script type="text/javascript" src="/js/jquery-1.9.0.js"></script>
</head>
<body class="metrouicss">
    <div class="page secondary">
        <div class="page-header">
            <div class="page-header-content">
                <h1>@Model.Title</h1>
                <a href="@Url.Action("Index")" class="back-button big page-back"></a>
            </div>
        </div>
        <div class="page-region">
            <div class="page-region-content">
                @using(Html.BeginForm("Index", "WorkOrders")) {
                        
                    <label>Date:</label>
                    <div class="input-control text span2">
                        <input type="text" name="Date" value="@Model.Date" class="with-helper" />
                        <button class="helper" tabindex="-1" type="button"></button>
                    </div>
                    
                    <label>Customer:</label>
                    <div class="input-control text span5">
                        <input type="text" name="Customer" />
                    </div>
                    
                    <label>Crew:</label>
                    <div class="input-control select span5">
                        @Html.DropDownListFor(wo => wo.CrewId, new SelectList(Model.Crews, "Id", "Name"))
                    </div>
                    
                    <label>Description:</label>
                    <div class="input-control textarea span7">
                        <textarea name="Description" rows="5"></textarea>
                    </div>
                    
                    <label>Category:</label>
                    <div class="input-control select span2">
                        @Html.DropDownListFor(wo => wo.CategoryId, new SelectList(Model.Categories, "Id", "Name"))
                    </div>
                    
                    <label>Duration:</label>
                    <div class="input-control select span2">
                        @Html.DropDownListFor(wo => wo.Duration, Model.Durations.Select(d => new SelectListItem{ Text = d, Value = d }))
                    </div>
                    
                    <div class="app-bar">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "button big" })
                    <input type="submit" value="Save" class="button big" />
                    </div>  
                }
            </div>
        </div>
    </div>    
</body>
</html>
